:root{
    --mainColor: #17252A;
    --secondaryColor: #2B7A78;

    --borderColor: #164D56;

    --mainText: #FEFFFF;
    --secondaryText: #DEF2F1;

    --themeDotBorder: #FEFFFF;

    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;

    --buttonColor: #3AAFA9;
}